<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Popunite podatke o automobilu</ng-template>
      <div class="form-wrapper">
        <mat-form-field>
          <mat-label>Proizvodac automobila</mat-label>
          <mat-select formControlName="firstCtrl">
            <mat-option *ngFor="let car of (carMakes$ | async)" [value]="car">
              {{car}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="firstFormGroup.controls.firstCtrl.valid">
          <mat-label>Model automobila</mat-label>
          <mat-select formControlName="secondCtrl">
            <mat-option *ngFor="let model of carModels" [value]="model">
              {{model}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="firstFormGroup.controls.secondCtrl.valid">
          <mat-label>Godina proizvodnje</mat-label>
          <mat-select formControlName="thirdCtrl">
            <mat-option *ngFor="let year of carYears" [value]="year">
              {{year}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperNext color="primary">Dalje</button>
      </div>
    </form>
  </mat-step>
  <mat-step label="Odaberite potrebne usluge">
    <form [formGroup]="secondFormGroup">
      <div class="form-wrapper">
        <mat-checkbox formControlName="washCtrl" required>Pranje</mat-checkbox>
        <mat-checkbox formControlName="serviceCtrl" required>Servis</mat-checkbox>
        <mat-checkbox formControlName="checkCtrl" required>Tehnicki pregled</mat-checkbox>
      </div>
      <div>
        <button mat-button matStepperPrevious color="primary">Natrag</button>
        <button mat-button matStepperNext [disabled]="!secondStepValid" color="accent">Dalje</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Kraj</ng-template>
    <div class="text-wrapper">
      <article>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu velit a felis efficitur porta vitae eget lorem. Donec volutpat tellus eros,
        euismod sodales leo posuere sit amet. Aliquam cursus gravida tortor, in iaculis justo scelerisque id. Vestibulum porttitor eros vitae orci rutrum tristique.
        Fusce egestas, metus eu mollis molestie, turpis urna aliquet massa, eget sollicitudin nisl risus ac augue. Sed vitae venenatis nulla. Proin fermentum vitae
        augue in convallis. Pellentesque eu eleifend odio, in cursus augue. Fusce ut urna quis mi dignissim cursus sit amet quis orci. Nunc sodales sapien eget elit
        euismod sodales. In hac habitasse platea dictumst. Donec pretium, tortor a gravida fringilla, est lacus ultricies nibh, vel pretium libero diam eget dui.
      </article>
      <button mat-raised-button routerLink="/dashboard" color="accent">{{'Povratak' | uppercase}}</button>
    </div>
    <div>
      <button mat-button matStepperPrevious color="primary">Natrag</button>
      <button mat-button (click)="stepper.reset()" color="primary">Ponisti</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>