<div class="wrapper">
  <h1>Dobro dosli</h1>
  <article>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu velit a felis efficitur porta vitae eget lorem. Donec volutpat tellus eros,
    euismod sodales leo posuere sit amet. Aliquam cursus gravida tortor, in iaculis justo scelerisque id. Vestibulum porttitor eros vitae orci rutrum tristique.
    Fusce egestas, metus eu mollis molestie, turpis urna aliquet massa, eget sollicitudin nisl risus ac augue. Sed vitae venenatis nulla. Proin fermentum vitae
    augue in convallis. Pellentesque eu eleifend odio, in cursus augue. Fusce ut urna quis mi dignissim cursus sit amet quis orci. Nunc sodales sapien eget elit
    euismod sodales. In hac habitasse platea dictumst. Donec pretium, tortor a gravida fringilla, est lacus ultricies nibh, vel pretium libero diam eget dui.
  </article>
  <button mat-raised-button routerLink="/car-input" color="accent">{{'Prijavi se' | uppercase}}</button>
  <div class="card-wrapper">
    <div class="card">
      <span>
        Ciscenje
      </span>
      <span class="hidden">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Phasellus faucibus scelerisque eleifend donec pretium vulputate. Ipsum a arcu cursus vitae.
        Habitasse platea dictumst vestibulum rhoncus est pellentesque.
      </span>
    </div>
    <div class="card">
      <span>
        Servis
      </span>
      <span class="hidden">
        Eget arcu dictum varius duis. Suspendisse potenti nullam ac tortor vitae purus faucibus.
        At varius vel pharetra vel. Sodales ut etiam sit amet nisl purus. Fusce ut placerat orci nulla pellentesque dignissim enim sit amet.
      </span>
    </div>
    <div class="card">
      <span>
        Tehnicki pregled vozila
      </span>
      <span class="hidden">
        Morbi tincidunt ornare massa eget egestas purus. Id ornare arcu odio ut. Turpis nunc eget lorem dolor sed.
        Rhoncus urna neque viverra justo nec ultrices dui sapien eget. Urna condimentum mattis pellentesque id nibh.
      </span>
    </div>
  </div>
</div>
