<div class="wrapper">
  <h3>Dobro dosli</h3>
  <article>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu velit a felis efficitur porta vitae eget lorem. Donec volutpat tellus eros,
    euismod sodales leo posuere sit amet. Aliquam cursus gravida tortor, in iaculis justo scelerisque id. Vestibulum porttitor eros vitae orci rutrum tristique.
    Fusce egestas, metus eu mollis molestie, turpis urna aliquet massa, eget sollicitudin nisl risus ac augue. Sed vitae venenatis nulla. Proin fermentum vitae
    augue in convallis. Pellentesque eu eleifend odio, in cursus augue. Fusce ut urna quis mi dignissim cursus sit amet quis orci. Nunc sodales sapien eget elit
    euismod sodales. In hac habitasse platea dictumst. Donec pretium, tortor a gravida fringilla, est lacus ultricies nibh, vel pretium libero diam eget dui.
  </article>
  <button mat-raised-button routerLink="car-input">{{'Prijavi se' | uppercase}}</button>
  <div class="card-wrapper">
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
  </div>
</div>
