@import '../../../styles/variables';

.mat-mdc-nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  background-color: $primary;
  height: 50px;
}

.button {
  cursor: pointer;
  &__login {
    color: black;
  }
}